body {
    background-color: lightblue;
}

.balance {
    position: fixed;
    color: rgb(0, 0, 0);
    top: 0;
    right: 50px;
    height: 10px;
    width: 100px;
    transition: 300ms;
}

.balance:hover {
    position: fixed;
    color: rgb(255, 255, 255);
    top: 0;
    right: 50px;
    height: 10px;
    width: 100px;
    .balanceNum {
        color: white;
    }
}

.balanceNum {
    position: fixed;
    color: rgb(0, 0, 0);
    top: 40px;
    right: 20px;
    height: 10px;
    width: 100px;
    transition: 500ms;
}

.balanceNum:hover {
    position: fixed;
    color: rgb(255, 255, 255);
    top: 40px;
    right: 20px;
    height: 10px;
    width: 100px;
    transition: 500ms;
    
}

.title {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 5%;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: 16px;
    background-color: rgb(72, 170, 235);
    color: #282A35;
    padding-left: 1px;
    padding-right: 16px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    width: 100%;
    height: 120px;
}

.all {
    border: 0px;
    position: fixed;
    top: 136px;
    width: 90px;
    height: 40px;
    background-color: rgb(97, 180, 253);
    left: 120px;
    transition: 300ms;
}

.all:hover {
    border: 0px;
    position: fixed;
    top: 136px;
    width: 90px;
    height: 40px;
    background-color: rgb(38, 153, 253);
    left: 120px;
}

.one {
    border: 0px;
    position: fixed;
    top: 136px;
    width: 90px;
    height: 40px;
    background-color: rgb(97, 180, 253);
    left: 20px;
    transition: 300ms;
}

.one:hover {
    border: 0px;
    position: fixed;
    top: 136px;
    width: 90px;
    height: 40px;
    background-color: rgb(38, 153, 253);
    left: 20px;
    transition: 300ms;
}

.set {
    border: 0px;
    position: fixed;
    top: 136px;
    width: 90px;
    height: 40px;
    background-color: rgb(97, 180, 253);
    left: 220px;
    transition: 300ms;
}

.set:hover {
    border: 0px;
    position: fixed;
    top: 136px;
    width: 90px;
    height: 40px;
    background-color: rgb(38, 153, 253);
    left: 220px;
}

.slider {
    border: 0px;
    position: fixed;
    top: 160px;
    width: 120px;
    height: 15px;
    left: 320px;
}

.risk {
    border: 0px;
    position: fixed;
    top: 110px;
    width: 130px;
    height: 15px;
    left: 320px;
}

.reset {
    border: 0px;
    position: fixed;
    top: 136px;
    width: 90px;
    height: 40px;
    background-color: rgb(97, 180, 253);
    left: 460px;
    transition: 300ms;
}

.reset:hover {
    border: 0px;
    position: fixed;
    top: 136px;
    width: 90px;
    height: 40px;
    background-color: rgb(38, 153, 253);
    left: 460px;
}
